################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestProj/config
/.vs/TestProj
/TestProj/bin/Debug/net8.0
/TestProj/obj
